.register {
  max-width: 1440px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.484);
}

.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  gap: 2rem;
}

.registerLeft, .registerRight {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.registerLogo {
  font-size: 50px;
  font-weight: 800;
  color: rgb(141, 42, 141);
}

.registerDescription {
  font-size: 24px;
  color: rgb(72, 72, 72);
}

.registerBox {
  height: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.618);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-box-shadow: 3px 5px 34px -6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 5px 34px -6px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 5px 34px -6px rgba(34, 60, 80, 0.2);
}

.registerInput {
  height: 30px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(91, 87, 91, 0.186);
  background-color: rgba(255, 255, 255, 0.417);
}

.registerButton {
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 5px;
  -webkit-box-shadow: 3px 5px 14px -6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 5px 14px -6px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 5px 14px -6px rgba(34, 60, 80, 0.2);
}

.registerCreate {
  color:rgb(72, 72, 72);
  text-align: center;
  font-size: 14px;
}

.registerButton:hover {
  background-color: rgb(255, 255, 255);
}

.registerButton:active {
  color:rgb(141, 42, 141);
}